.article {
	overflow: hidden;
	border-radius: 20px;
	border: 1px solid gray;
}

.article-body {
	padding-left: 20px;
}

.article-body > p {
	font-size: 20px;
	margin: 10px 0px;
}

.harga {
	font-size: 20px;
}

.harga-diskon {
	font-size: 20px;
	color: rgb(255, 0, 0);
	font-weight: bold;
}
.stock {
	font-size: 10px;
	color: rgb(0, 161, 214);
}
