.Btn-login {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #258feb 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.Btn-login:hover {
	background:linear-gradient(to bottom, #258feb 5%, #3d94f6 100%);
	background-color:#258feb;
}
.Btn-login:active {
	position:relative;
	top:1px;
}

   