.kotak-border {
    border: 11px outset #1C6EA4;
    border-radius: 40px; 
      padding: 20px; 
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
  }
    
  table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  
  .btn-delete {
      box-shadow: 3px 4px 0px 0px #8a2a21;
      background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
      background-color:#c62d1f;
      border-radius:18px;
      border:1px solid #d02718;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:7px 25px;
      text-decoration:none;
      text-shadow:0px 1px 0px #810e05;
  }
  .btn-delete:hover {
      background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
      background-color:#f24437;
  }
  .btn-delete:active {
      position:relative;
      top:1px;
  }
  
  .btn-edit {
      box-shadow: 3px 4px 0px 0px #899599;
      background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
      background-color:#ededed;
      border-radius:15px;
      border:1px solid #d6bcd6;
      display:inline-block;
      cursor:pointer;
      color:#3a8a9e;
      font-family:Arial;
      font-size:17px;
      padding:7px 25px;
      text-decoration:none;
      text-shadow:0px 1px 0px #e1e2ed;
  }
  .btn-edit:hover {
      background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
      background-color:#bab1ba;
  }
  .btn-edit:active {
      position:relative;
      top:1px;
  }
  